<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}"> <!--Asi es como se llama un head desde la plantilla, el fragmento que se creo-->
        <title>TechShop</title>
    </head>
    <body >
        <header th:replace="~{layout/plantilla :: header}"/> <!--Asi es como se llama un header desde la plantilla, el fragmento que se creo-->
        <footer th:replace="~{layout/plantilla :: footer}"/> <!--Asi es como se llama un footer desde la plantilla, el fragmento que se creo-->
    </body>
</html>
